.qna{
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5%;
    color: var(--main-color);
    font-family: 'Noto Sans', sans-serif;
}

.qna div{
    width:50%;
}

.qna__first{
    width:100%;
    display: flex;
    flex-direction: column;
}

.qna__first span:first-child{
    margin-bottom: 10px;
    font-size: 20px;
}

.qna__first span:nth-child(2){
    font-size: 50px;
}

.qna__first span:nth-child(3),
.qna__first span:nth-child(4){
    font-size: 17px;
}

.first__icons{
    width:100%;
    margin-top: 15px;
    margin-bottom: 30px;
}

.first__icons a{
    margin-right:20px;
    color:black;
}

.qna__second li{
    list-style: none;
    padding-bottom: 5px;
    height: 35px;
}

.qna__second input{
    width:100%;
    height: 100%;
    border:1px solid var(--main-color);
    padding-left: 20px;
}

.qna__second input:focus{
    outline: none;
}

.qna__second input:hover{
    border:2px solid var(--main-color);
}

.qna__second input::placeholder{
    color: var(--main-color);
    font-family: 'Noto Sans', sans-serif;
}

.qna__second div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.qna__second button{
    width:100px;
    height: 35px;
    border:none;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 17px;
}

.qna__second button:hover{
    color:var(--main-color);
    background-color:var(--side-color);
}
.second__lists li:nth-child(4){
    height:110px;
}

@media screen and (max-width:768px){
    .qna{
        height: auto;
        flex-direction: column;
        justify-content: center;
    }

    .qna div{
        width:90%;
    }

    .qna__first,
    .qna__second{
        padding-top:60px;
    }

    .qna__first span:last-child{
        position: relative;
        bottom:-500px;
        margin: 50px 0;
    }
    .second__lists{
        padding-left: 0;
    }

    .second__lists div{
        width:100%;
        justify-content: flex-end;
    }
}