@import "https://fonts.googleapis.com/css2?family=Bad+Script&family=Nanum+Gothic:wght@400;700&family=Noto+Sans:wght@400;700&display=swap";
@import "navbar.css";
@import "main.css";
@import "portfolio.css";
@import "introduction.css";
@import "qna.css";
@import "top.css";

*{
    box-sizing: border-box;
}

:root{
    --main-color:#47287C;
    --white-color:white;
}

html,
body{
    margin: 0;
    width:100%;
    height:100%;
}

.js-main{
    background-image: url("https://static.wixstatic.com/media/9b6c7d_9708035a3a48488f9932749e4fb6a87c~mv2_d_1920_1200_s_2.jpg/v1/fill/w_980,h_862,al_c,q_85,usm_0.66_1.00_0.01/9b6c7d_9708035a3a48488f9932749e4fb6a87c~mv2_d_1920_1200_s_2.webp"),
    url("https://static.wixstatic.com/media/9b6c7d_c2965cb0d51643b49622ca75f4f9d933~mv2_d_5031_3354_s_4_2.jpg/v1/fill/w_980,h_717,al_c,q_85,usm_0.66_1.00_0.01/9b6c7d_c2965cb0d51643b49622ca75f4f9d933~mv2_d_5031_3354_s_4_2.jpg");
    background-repeat: no-repeat,no-repeat;
    background-position: center top, center bottom;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 100% 50%;
}

