:root{
    --text-color:#f0f4f5;
    --background-color:#263343;
    --accent-color:#F58344;
}

body{
    width : 100%;
    margin : 0;
}

a{
    text-decoration: none;
    color:var(--text-color)
}

.js-navBar{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
    background-color : var(--background-color);
    width : 100%;
    font-family: 'Source Sans Pro';
}

.navBar__logos{
    font-size: 30px;
}

.navBar__logos i{
    color:var(--accent-color);
    margin-right: 10px;
}

.navBar__categories{
    display : flex;
    align-items: center;
    padding-left: 0;
    color:var(--text-color);
    list-style: none;
}

.navBar__categories li{
    padding : 8px 12px;
}

.navBar__categories li:hover{
    background-color: var(--accent-color);
    border-radius: 4px;
}

.navBar__icons{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    color:var(--text-color);
}

.navBar__icons li{
    padding: 20px 12px;
}

.navBar__toogleBtn{
    display: none;
    position: absolute;
    right: 32px;
    top: 12px;
    color: var(--accent-color);
    font-size: 24px;
}

@media screen and (max-width:768px){
    .js-navBar{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 8px 24px;
    }

    .navBar__categories{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navBar__categories li{
        width:100%;
        text-align: center;
    }

    .navBar__icons{
        display: none;
        justify-content: center;
        width: 100%;
    }
    
    .navBar__toogleBtn{
        display: block;
    }
    
    .navBar__categories.active,
    .navBar__icons.active{
        display: flex;
    }
}


